Body{
  background: linear-gradient(to right, rgb(58, 58, 175), rgb(150, 150, 227));
}

.BotonSiguiente{

background: linear-gradient(to right, rgb(9, 9, 86), rgb(2, 2, 15)); 
color: aliceblue;
}
.BotonAtras{
background: linear-gradient(to right, rgb(9, 9, 86), rgb(2, 2, 15));
color: aliceblue;
}
